/packages
/.vs
/src/AmBlitz/bin
/src/AmBlitz/obj
/src/AmBlitz/*.nupkg
/AmBlitz/obj
/AmBlitz/bin
/AmBlitz/*.nupkg
/AmBlitz.RedisCache/bin
/AmBlitz.RedisCache/obj
/TestResults
/AmBlitz.UnitTest/bin
/AmBlitz.UnitTest/obj
/AmBlitz.Mongo/bin
/AmBlitz.Mongo/obj
/nupkg/*.nupkg
/AmBlitz.RabbitMQ/bin
/AmBlitz.RabbitMQ/obj
/AmBlitz.EntityFrameworkCore/bin
/AmBlitz.EntityFrameworkCore/obj
